/*Reset Stylesheet*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*General*/
html{
    margin-top:0;
    padding-top:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin: auto;
    width: 100%;


}

h1{
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h2{
font-weight: bold;
font-size: 1.2rem;
margin-top: 0;
}


/*div {
    border: 1px solid red;
}*/

body {
  
 }


/*Header*/
#campus{
  display: none;
}
#online{
  display: none;
}
#login{
  display: none;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
  }
  
  header h3{
    margin-top: 1.7rem;
    }


  
.logo{
    display: flex;
    flex-grow: 1;
    
   
    }
  
.logo img {
    width: auto;
    height: 50px;
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  
 a{
    padding-right: 20px;
    color: black;
  }

  /*Top Banner*/

  .mobile img{
    display: none;
  }

  #topbanner{    
    display: flex;
    align-items: center;
    background-color: #D8D8D8;
    width: 100%;
  }


  .banner {
    width: 60%;
    margin: 2rem 1.5rem 2rem 1.5rem;
    display: table-cell;
    vertical-align: middle;    
  }

  
  .banner img {
    width: 100%;
  }

  #largetext {    
    text-align: left;
    width: 40%;
    min-width: 340px;
    margin-left: auto;
    margin-right: 4rem;
  }  
  #largetext h1{
    padding-top: 0px;
    padding-bottom: 2rem;
  }

  #largetext h2{
    margin-bottom: 2rem;
  }

  #button1{
    background-color: #4A4A4A;
    color: #D8D8D8;    
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  
    }


  .description {    
    display: block;
    
    width: 40%;
    height: 40%;
    text-align: left;
    float: left;
}

.description a {
  background-color: #4A4A4A;
  padding: 0.5rem 8rem 0.5rem 8rem;
  color: #D8D8D8;

}

/*Second Banner*/

.mobile{
  display: none;
}

#secondbanner {
  display: flex;
  justify-content: center;
  width: 100%;  
}

.smalldescriptions{
  width: 40%;  
  margin: 2rem 1.5rem 2rem 0;
  display: table-cell;
  vertical-align: middle;
}

#bannerleft {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
  display: table-cell;
  vertical-align: middle;
}

.smalldescription {    
  display: flex;
  align-items: center; 
  margin: 0 2rem 1rem 1rem;
  width: 100%;
}

.smallimages{
  display: flex;
  align-items: center;
  min-width: 150px;  
  
  background-size: cover;
}

.smallimages img{
  display: flex;
  width: 100%;    
}

.smalltext {
  display: inline-block;
  width: 65%;
  margin-left: 2rem;
  margin: inherit;    
}


/*Third Banner*/

.thirdbanner {
  background-color: #D8D8D8;
  width: 100%;
}

.thirdbanner h1 {
  text-align: center;
  padding-top: 2rem;
}


.container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  padding-bottom: 2rem;
}



.middleimages {
  display: flex;
  flex-direction: column;
  
  max-width: 30%;
  flex-basis: 100%;
  flex: 1;
  margin: 1rem;
  
  background-color: white;

}

/*Last Banner*/
#descriptionlastbanner{
  width: 40%;
  margin: 2rem 1.5rem 2rem 0;
  display: table-cell;
  vertical-align: middle;
}

.lastbannerh1{
  display: flex;
  justify-content: center;
  margin: 
}
.lastbanner {
  display: flex;
  justify-content: center;
  width: 100%;  
  background-color: white;
}

.lastbanner .smalldescription:nth-child(1){
  background-color: #D8D8D8;
}

/*Footer*/

footer{
  display: flex;
  justify-content: center;  
}

/*Media Queries*/

@media only screen and (max-width: 590px) {
  #campus{
    display: flex;
  }
  .banner img{
    margin-left: 1rem;
    width: 95%;
  }
  #online{
    display: flex;
  }
  #login{
    display: flex;
  }
  .logo{
    justify-content: space-around;    
  }
  .logo img{
    padding: 0;
  }
  a{
    padding-right: 0;
  }
  .logo h3{
    display:none;
  }
  header nav {
    display:none;
  }
  #topbanner{
    display: inline;
    background-color: #ffffff;
  }     
  .mobile{
    display: flex;
  }
  #largetext{
    width: 100%;
    margin-left: 1rem;
  }
  .largetext h1{
    font-size: 2rem;
    text-align: center;
  }
  .largetext h2{
    text-align: center;
  }
  #button1{
    width: 95%;
    margin-bottom: 2rem;
    padding: 1rem 0;
  }
  #bannerleft{
    display: none;
  }
  .desktop{
    display: none;
  }
  .smalldescriptions{
    width: 100%;
    margin: 0 auto;
  }
  .middleimages img{
    display: none;
  }
  .middleimages h4{
    display: none;
  }
  .middleimages h2{
    padding: 2rem 0 2rem 0;
    margin-left: 1rem;
    
    width: 95%;
    background-color: #D8D8D8;
  }
  .container {
    justify-content: center;
    display: block;
    width: 100%;
    padding-bottom: 2rem;
    background-color: #ffffff
  }
  .thirdbanner{
    background-color: #ffffff;    
  }
  .middleimages{
    background-color: #D8D8D8;
    display: initial;
    width: 100%;
  }
  #descriptionlastbanner{
    display: none;
  }
  #lastleftdescription{
    display: none;
  }
  .lastbanner{
    background-size: cover;
  }
  .lastbanner video{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  footer a{
    display: none;
  }


  }
 /* .lastbanner .smalldescription{
    display:none;
  }*/
 /* .banner h1{
    display: none;
  }
  .banner h4{
    display: none;
  }
  .banner{
    width: 100%;
  }*/
}