/*General*/
html{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
}

body{
  width: 100%;
  left: 0vmax;
}

h1{
  font-weight: bold;
  font-size: 3vmax;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

h2{
  font-weight: bold;
  font-size: 2vmax;
  margin-top: 0;
}

h3{
  font-size: 2vmax;
  padding: 0.25rem 0 0.25rem 0rem;
  border-bottom: #4A4A4A solid 1px;
}

h4{  
  font-size: 1.3vmax;  
}

h5{
  margin: 2rem 0;
  font-size: 1vmax;
}

a{
  color: black;
  padding: 0.3rem;
  border-radius: 0.2rem;
  font-size: 1.3vmax;
  text-decoration: none;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

/*Header*/
#campus{
  display: none;
  pointer-events:none;
}
#online{
  display: none;
  pointer-events:none;
}
#login{
  display: none;
  pointer-events:none;
}
header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  font-weight: bold;
}  
.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;  
}

.logo img {
  width: 3vmax;
  padding-left: 1.5rem;
  padding-top: 1rem;  
}

  /*Top Banner*/

.mobile img{
  display: none;
}

#topbanner{    
  display: flex;
  align-items: center;
  background-color: #D8D8D8;
  width: 100%;
}

.banner {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
  display: table-cell;
}

.banner img {
  width: 100%;
}

#largetext {    
  text-align: left;
  width: 0%;
  min-width: 40%;
}  

#largetext h1{
  padding-top: 0px;
  padding-bottom: 2rem;
}

#largetext h2{
  margin-bottom: 2rem;
  font-size: 2vmax;
}

#button1{
  background-color: #4A4A4A;
  color: #D8D8D8;
  text-align: center;
  text-decoration: none;
  border:3px solid #4A4A4A;
  display: block;
  font-size: 1.9vmax;
  width: 70%;
  padding: 1rem 0;
  border-radius: 1rem;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
}
#button1:hover{
  background-color: #D8D8D8;
  color: #4A4A4A;
  font-weight: bold;
  border-radius: 1rem;
  border:3px solid #4A4A4A;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/*Second Banner*/

.mobile{
  display: none;
}

#secondbanner {
  display: flex;
}

#smalldescriptions{
  width: 40%;  
  min-width: 40%;
  margin-top: 1rem;
}

#secondbanner .smalldescription:nth-child(3){
  background-color: #D8D8D8;
}
#secondbanner .smalldescription:nth-child(3):hover{
  background-color: #fff;
}
#secondbanner .smalldescription:hover{
  background-color: #D8D8D8;
}

#secondbannerleft {
  margin: 2rem 1.5rem 0 1.5rem;
}

.smalldescription {    
  display: flex;
  align-items: center; 
  border: 1px solid #D8D8D8;
}

.smallimages{
  display: flex;
  align-items: center;
  margin: 1rem ;
  width: 35%;
  background-size: cover;
}

.smallimages img{
  display: flex;
  width: 100%;    
}
.desktop{
  width: 100%;
}

.smalltext {
  display: inline-block;
  width: 65%;
  margin-left: -0.5rem;
}

.smalltext h2{
  margin: 0.5rem 1rem 0.25rem 1rem;
}
.smalltext h4{
  margin: 0.25rem 1rem;
}

.button{
  margin-left: 0.7rem;
}

/*Third Banner*/

.thirdbanner {
  background-color: #D8D8D8;
  width: 100%;
}
.thirdbanner h1 {
  text-align: center;
  padding-top: 2rem;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  padding: 1rem 4rem 2rem 4rem;
}
.middleimages {
  flex-direction: column;
  background-color: white;
  transition: ease-in-out;
  -webkit-transition: ease-in-out;
  -moz-transition: ease-in-out;
  -ms-transition: ease-in-out;
  -o-transition: ease-in-out;
}
.courses{
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  padding-top: 0.25rem;
}

.middleimages img {
  width: 100%;
}

.middleimages:hover{
  width: 110%;
  height: 110%;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
  z-index: 1;
}

.middleimages a:hover{
  background: #4A4A4A;
  color: #D8D8D8;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 120%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.middleimages h2{
  padding: 1rem 0 0.25rem 1rem;
  font-size: 2vmax;
  background: #4A4A4A;
  color: #D8D8D8;
}
.middleimages a h2:hover{
  background-color:#fff;
  width: 0%;
}
.middleh2 {
  padding: 0.25rem 0 0.25rem 1rem;
}


/*Last Banner*/
.lastbannerh1{
  display: flex;
  justify-content: center;
  margin: 
  }

#lastbanner {
  display: flex;
  justify-content: center;
  width: 100%;  
  background-color: white;    
}

.lastbannerleft {
  width: 60%;
  padding: 2rem 1.5rem 0 1.5rem;
}

.lastbannerleft h2{
  margin-top: 1.5rem;
  padding-bottom: 0.25rem;
}

.lastbannerleft h4{
  padding-top: 0.25rem;
  padding-bottom: 2rem;
}

#descriptionlastbanner{
  width: 40%;
  margin: 2rem 0 2rem 0;
}
#descriptionlastbanner .smalltext{
  margin-left: -1rem;
}

#descriptionlastbanner .smalltext a:hover{
color: #000000;
background-color: #4A4A4A;
padding: 0;
}

#lastbanner .smalldescription:nth-child(1){
  background-color: #D8D8D8;
}
#lastbanner .smalldescription:nth-child(1):hover{
  background-color: #fff;
}
#lastbanner .smalldescription:nth-child(2):hover{
  background-color: #D8D8D8;
}
h3 #lastleftdescription{
  margin: 1.5rem, 0 0.25rem 1rem;
}
/*Footer*/

footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  margin-top: 1rem;
}

#copyright{
  padding-left: 1.5rem;
}

/*Media Query*/


@media only screen and (max-width: 720px) {
  html{
    width: 100%;
  }
  body{
    width: 100%;
  }
  h1{
    font-size: 7vmax;
  }
  h2{
    font-size: 2vmax;
  }
  h4{
    font-size: 2vmax;
  }
  a{
    padding: 0;
    font-size: 3vmax;
  }
  #companylogo{
    width: 7vmax;
  }
  #campus{
    display: flex;
    pointer-events: all;
    width: 7vmax;
  }
  #online{
    display: flex;
    pointer-events: all;
    width: 7vmax;
  }
  #login{
    display: flex;
    pointer-events: all;
    width: 7vmax;
  }
  .logo{
    justify-content: space-around;   
  }
  .logo img{
    padding: 0;
  }
  header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .logo h3{
    display:none;
  }
  header nav {
    display:none;
  }

  header a:hover{
    background-color: #D8D8D8; 
  }
  #topbanner{
    display: inline;
    background-color: #ffffff;
  }     
  .banner{
    display: block;
    width: 100%;
    margin: auto;
  }
  .banner img{
    width: 100%;
  }
  #topbannerleft{
    display: flex;
  }
  .mobile{
    display: flex;
    margin-left: 1rem;
    
    padding-top: 4rem;
  }
  #secondbanner .mobile:nth-child(1) {
    padding-top: 0;
  }
  #largetext{
    width: 100%;
    display: block;
    margin-left: 0;
    margin-bottom: -4rem;
    background-color: #D8D8D8;
  } 
  #largetext h1{
    width: 90%;
    padding-top: 2rem;
    padding-left: 1rem;
  }
  #largetext h2{
    padding-left: 1rem;
    font-size: 6vmin;
  }
  #largetext a{
    font-size: 3vmax;
  }
  #button1{
    width: 98%;
    margin-bottom: 4rem;
    padding: 1rem 0;    
  }
  #secondbannerleft{
    display: none;
  }
  .desktop{
    display: none;
  }
  #secondbanner{
    display: block;    
  }
  #secondbanner .smalldescription{
    background-color: white;
    width: 100%;
  }

  #smalldescriptions{
    width: 100%;
    display: inline-block;
  }
  .smalldescription{
    display: block;
    background: none;
    border: none;
  }
  .smalldescription h2{
    margin-top: 1rem;
  }
  .smallimages {
    width:100%;
    margin: 0;
    
  }
  .smallimages img {
    width: 95%; 
  }
  .smalltext{
    margin-left: 2rem;
    width: 80%;
  }
  .smalltext h4 {
    font-size: 3vmax;
    line-height: initial;    
    background-color: #D8D8D8;
    -webkit-border-radius: 1rem  ;
    -moz-border-radius: 1rem  ;
    -ms-border-radius: 1rem  ;
    -o-border-radius: 1rem  ;
}
  .smalltext h2 {
    font-size: 3.5vmax;
  }
  .middleh2{
    display: none;
  }
  .middleimages img{
    display: none;
  }
  .middleimages h4{
    display: none;
  }
  .middleimages h2{
    padding: 1rem 0 1.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 90%;
    background-color: #D8D8D8;
    font-size: 6vmax;
    color: #4A4A4A;
  }
  .middleimages h2:hover{
    background-color:#4A4A4A;
    color: #D8D8D8
  }
  .button{
    margin-left: 1rem;
  }
  .height24px{
    display: none;
  }
  .container {
    justify-content: center;
    display: block;
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    background-color: #ffffff
  }
  .courses{
    display: none;
  }
  .container h2 {
    font-size: 4.5vmax;
  }
  .thirdbanner{
    background-color: #ffffff;    
  }
  .middleimages{
    background-color: #D8D8D8;
    display: initial;
    width: 100%;
  }
  #descriptionlastbanner{
    display: none;
  }
  #lastleftdescription{
    display: none;
  }
  #lastbanner{
    display: block;
    justify-content: flex-start;
  }
  video{
    margin: 0 ;
    margin-bottom: 2rem;
    padding: 0;
    width: 100%;
  }
  .lastbannerleft{
    padding: 0;
    width: 100%;
  }
  .lastbannerh1{
    padding-top: 3.5rem;
    margin-bottom: 1rem;
  }
  footer a{
    display: none;
  }
  footer {
    padding: 1rem 0;
  }